div.content {
  font-size: 20px;

  p {
    font-size: 20px;

    span.label {
      width: 40px;
      text-align: right;
      display: inline-block;
    }

    span.value {
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}


footer {
  text-align: center;
}
